
.hero-section__image img{
    width: 50%;

}
.infoAboutStreak span{
    display: flex;
    flex-direction: row;
    /* width: 10%; */
    /* background-color: bisque; */
    color: white;
}
.infoAboutStreak span span{
    /* position: absolute; */
    /* display: flex; */
    padding: 10px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
.infoAboutStreak span span h1{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}
.infoAboutStreak span span h5{
    font-family: 'Gilroy-Thin';
    font-size: 0.7em;
    margin: 0;
    padding: 0;
}
/* .infoAboutStreak span:nth-child(2){
    left: 30%;
} */