
.hero-section__image img{
    width: 300px;

}
@media screen and (max-width: 768px){
    .hero-section__image img{
        width: 300px;
    }
    
}
@media screen and (max-width: 480px){
    .hero-section__image img{
        width: 200px;
    }
    
}
@media screen and (max-width: 320px){
    .hero-section__image img{
        width: 150px;
    }
    
}
