
.CodeForcecontent {
    border-radius: 20px;
      /* border: 1px solid white; */
      text-align: center;
      /* height: 40vh; */
      padding: 1rem;
      /* width: 40%; */
      /* background-color: rgb(215, 212, 212); */
      width: 40%;
  }
.CodeForcecontent h1{
  font-size: 2rem;
  margin: 10px;
  font-family: 'Gilroy-Bold', sans-serif;
  color: #333;
}