/* SearchInput.module.css */

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.searchbar {
    background-color: #f5f5f53d;
    z-index: 1;
    border: none;
    border-radius: 60px;
    width: 60%;
    font-size: 1em;
    outline: none;
    padding: 15px;
    color: black;
    font-family: 'Gilroy-Bold';
    margin: 0.4em;
}
.searchbar::placeholder {
    font-size:1.2em;
}
.searchbtn {
    font-family: 'Gilroy-Bold';
    background-color: #980b21;
    border: none;
    color: #dedede;
    /* color: #f5f5f53d; */
    font-size: 1.5em;
    letter-spacing: 2px;
    width: 50%;
    padding: 10px;
    border-radius: 300px;
    transition: all 0.3s ease;
}
.searchbtn:hover {
    background-color: #6b164c;
    cursor: pointer;
}
